@import "../css-tree";
@import "../variable";
@import "../functions";
@import "../default-css";

/*
    ==============
      FOOTER ONE
    ==============
*/
.mh-footer {
  ::placeholder {
    //color: $white;
    opacity: 0.9;
  }
  .form-control {
    padding: 20px;
    @include box-shadow($color-shadows-contact-2x);
    &:focus {
      @include box-shadow($color-shadows-contact-2x);
      border-color: transparent;
    }
  }
  .contact-message {
    @include box-shadow($color-shadows-contact-2x);
    background-color: transparent;
    border-color: transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    outline: 0;
    &:focus {
      @include box-shadow($color-shadows-contact-2x);
      border-color: transparent;
    }
  }
}
