@import "../css-tree";
@import "../variable";
@import "../functions";
@import "../default-css";
/*
|===================
| SLIDER
|===================
*/
/* Preloader */
.header-slider {
  overflow: hidden;
}
.slider_preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  min-height: 750px;
}
.slider_preloader_status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/slider/status.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
.header-slider-preloader {
  min-height: 750px;
}
.header-slider {
  position: relative;
}
.header-slider .owl-dots {
  background: transparent;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0%;
}
.header-slider .slider-preloader-wrap,
.header-slider .item {
  text-align: center;
}
.header-slider .item {
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header-slider .slide-img {
  bottom: 0;
  position: absolute;
  right: 5%;
  width: auto !important;
}
.header-slider .item::after {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.header-slider .slide-table {
  display: table;
  height: 100%;
  width: 100%;
}
.header-slider .slide-tablecell {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.6);
  padding: 280px 0;
}
.header-slider .slide-tablecell h1 {
  color: #fff;
  text-transform: uppercase;
}
.header-slider .slide-tablecell .slide-btn:hover {
  text-decoration: none;
  border-color: transparent;
}
.header-slider .slide-tablecell .slide-btn {
  color: #fff;
  border-color: transparent;
  background-color: #6d40e3;
}
.header-slider .slide-tablecell .slide-btn i.fa {
  margin-left: 10px;
}
.header-slider .slide-tablecell .slide-text > *:nth-child(1) {
  animation-duration: 0.3s;
}
.header-slider .slide-tablecell .slide-text > *:nth-child(2) {
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  margin-bottom: 30px;
}
.header-slider .slide-tablecell .slide-text > *:nth-child(3) {
  animation-duration: 0.3s;
  animation-delay: 0.6s;
  margin-top: 30px;
}
.header-slider .slide-tablecell .slide-text > *:nth-child(4) {
  animation-duration: 0.3s;
  animation-delay: 0.9s;
}
.header-slider .slide-tablecell .slide-text h1 {
  color: #fff;
  text-transform: capitalize;
}
.header-slider .slide-tablecell .slide-text p {
  font-size: 18px;
  line-height: 30px;
  padding: 0 200px;
  margin: 30px 0;
}
.header-slider .owl-nav {
  color: #fff;
  font-size: 60px;
  left: 0;
  line-height: 70px;
  margin-top: -35px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  display: none;
}
.header-slider .owl-theme .owl-dots .owl-dot {
  border: 1px solid #fff;
  display: inline-block;
  height: 8px;
  cursor: pointer;
  margin: 5px;
  width: 15px;
  background-color: #fff;
  border-radius: 6px;
}
.header-slider .animation-slide .owl-dots {
  bottom: 15px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header-slider .owl-theme .owl-dots .owl-dot.active {
  background-color: #fff;
  border-color: #fff;
  width: 30px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header-slider .item,
.header-slider .preloader-wrap {
  background-color: #bfbfbf;
}
.get-quate h2 {
  font-size: 34px;
}

.animation-slides {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0000;
}

.header-slider .item div {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.mh-about-tag-2 {
  text-align: center;
  ul {
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
